<div id="prod">
  <table>
    <tr>
      <td height="180px"><center><%= image_tag "products/#{product.pro_image}" %></center></td>
    <tr>
    <tr>
      <td height="15"><center><%= product.name %></center></td>
    </tr>
    <tr>
      <td height="15"><center>$<%= product.price %></center></td>
    </tr>
    <tr>
      <td valign="top"><center><%= product.descrip %></center></td>
    </tr>
  </table>
</div>