<center>
  <ul>
    <li><%= link_to "Edit Home Page" , { :controller => 'pages', :action => 'edit', :id => '1' }, :remote => true %></li><li>&nbsp|</li>
    <li><%= link_to "Edit Products", { :controller => 'products', :action => 'index' }, :remote => true %> </li><li>&nbsp|</li>
    <li><%= link_to "Edit Staff Profiles", { :controller => 'staffs', :action => 'index' }, :remote => true %></li><li>&nbsp|</li>
    <li><%= link_to "Edit Contact Page" , { :controller => 'pages', :action => 'edit', :id => '2' }, :remote => true %></li><li>&nbsp|</li>
    <li>Logout</li>
  </ul>
</center>