<div id='adminContainer'>
<div id='adminWrapper'>
<div id='adminheader'><h1>Cuba Street BakeHouse Administration Area</h1></div>
<div id='adminnavbar'><%= render 'layouts/admin_nav' %></div>
<div id='adminmain'>