<div id='mainContainer'>
  <div id='mainWrapper'>
    
  <div id="logo"><%= image_tag("Logo.png", {:alt => "Cuba Street Bakehouse Logo", :onload => "vertAlign(this);"}) %></div>
  <div id="filler"><%= image_tag("filler.png", {:alt => "Wheat Field", :onload => "vertAlign(this);"}) %></div>
  <div id="specboard"><br>this will be rendered using spec_board partial </div>
    <div id="sidebar"><%= render 'layouts/sidenav' %></div>
    <div id="main">